<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="m-4">👋👋👋Welcome👋👋👋!</h1>
<ul>
    <h5 class="m-4">🔒 This is a protected route.</h5>
    <h5 class="m-4">🍪 You can only access /welcome if you have been granted a cookie with a session_token from my private API.</h5>
    <h5 class="m-4">🙅‍♂️ Cookies with session tokens are only available to valid usernames and passwords.</h5>
    <h5 class="m-4">♻️ In concert with my API, the front-end runs a token refresh operation to prevent hijacked sessions from having access.</h5>
    <h5 class="m-4">📜 Additionally, the cookie is locked down from client-side script access, making it inaccessible to cross-site-scripts.</h5>
</ul>
<div class="border border-dark">
    <a href="https://imgflip.com/i/746pfz"><img src="https://i.imgflip.com/746pfz.jpg" title="made at imgflip.com"/></a>
</div> 
</div>